<!DOCTYPE html>
<html>
  <head>
    <title>Medium</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar bg-dark">
      <div class="navbar-brand text-white">Medium</div>
    </div>
    <%= yield %>
  </body>
</html>
